body {
  background-color: whitesmoke;
  margin: 0;
}

.grid-container {
	display: inline-grid;
	grid-template-columns: 200px 80vw;
	scrollbar-color: gray;
}

.nav-menu {
  grid-column-start: 1;
  grid-column-end: 2;
  text-align: center;
}

.nav-menu a {
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
  border-style: solid;
  border-color: gray;
  margin: 5px;
  padding: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.nav-menu a:hover {
  background-color: #ddd;
  color: black;
}

.nav-menu img  {
  margin: 10px;
  border-style: solid;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.content-box {
  grid-column-start: 2;
  grid-column-end: 4;
  height: 90vh;
  margin: 10px;
  border-style: solid;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  overflow-y: scroll;
  scrollbar-color: gray;
  scrollbar-width: thin;
}

.content-box a {
  border-style: solid;
  border-color: gray;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  margin: 5px;
  padding: 2px;
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
  width: 20%
}

.content-box a:hover {
  background-color: #ddd;
  color: black;
}

.content-text {
  margin: 5px;
  padding: 2px;
}
